
body{
  padding:0;
  margin:0;
}
.back{
  background-color: #1b5288;
}
.header-img{
  width:100%;
}
.container{
  width:1000px;
  margin:0 auto;
  border: 2px #dedede solid;
}
.container .header{
  background-color: #dedede;
  font-size:25px;
  padding-left:10px;
  line-height:40px;
  /*text-align: */
}
/*p.center{
  text-align: center;
  margin-top: 0 !important;
}
.header strong{
  display: inline-block;
  text-align: center;
}*/
.container .content{
  /*height:400px;*/
}
.container .content iframe{
/*  display: block;
  float: left;*/
  border:0;
  width:410px;
  height:400px;
  margin-left: 20px;
}
.container .content iframe.full-content{
  width:1000px;
}
iframe#headmap{
  height:600px;
}
select.pull-right{
  float:right;
  margin-left:10px;
  /*margin-right:10px;*/
  display: block;
  height:40px;
  padding:3px 5px;
}

.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.footer{
  height:100px;
}