<link rel="import" href="/__head.html?__inline">
<style type="text/css">
html .page_index article.container {
padding-top: 20px;
padding-bottom: 20px;
}
.BMapLib_nav_tab_content table td:first-child{
width: 40px !important;
}
.BMapLib_nav_tab_content table td:last-child{
width: 120px !important;
}
.panel-default .panel-heading{
  cursor: pointer;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=clR7lmWlaguV9WUYKM7OGMbj"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
<body class='page_index'>
  <link rel="import" href="/__navbar.html?__inline">
  <div class="container">
    <h3>Reboot 技术沙龙
      <span class="text-danger">(火热报名中)</span>

    </h3>


  {% for share in share_list%}

  <div class="panel {%  if share.hide %} panel-default {% else %}panel-success{% endif %}" style='margin-top: 20px;'>
      <div class="panel-heading">
        {{share.time}}（周五）21:00 <strong>{{share.title}}</strong>（{%  if share.hide %} 已结束 {% else %}网络在线直播{% endif %}）<link rel="import" href="/qq.html?__inline">
      </div>
      <div class="panel-body">
        <p class="text-success">
          嘉宾：
        </p>
                <p>
          
      
          <strong>
            
          {{share.author}}
          </strong>
          {{teachers[share.author]}}
          </p>



        <ul class="timeline">
          <li>
            <div class="timeline-badge danger"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">21：00-21：30</h4>
                <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i></small> -->
              </p>
            </div>
            <div class="timeline-body">
            <p>
              <strong>
                  {{title}}
           
              </strong>
            </p>
            <p >
  <a target='_blank' href="http://reboot.gensee.com/training/site/s/54443345">直播地址</a>
    
  口令：Reboot

</p>
            <p>
                {{share.title}}
            </p>
            <ul style='margin-left: 20px'>

            {% for l in share.data %}
              <li>{{l}}</li>

            {% endfor %}
            </ul>


            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">21:30-22：00</h4>
            </div>
            <div class="timeline-body">
              <p> 自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
      </ul>
      </div>
  </div>

  {% endfor %}







    <div class="panel panel-default" style='margin-top: 20px;'>
      <div class="panel-heading">
        2016年01月10日（周日）两场（已结束）
      </div>
      <div class="panel-body">
        <p class="text-success">
          嘉宾：
        </p>
        <p>
          
          1、
          <strong>
            
          PC老师
          </strong>
    </p>
        <p>
          
          2、
          <strong>
            
          雪糕老师
          </strong>
          :先后在BAT等一线互联网公司从事研发和技术管理工作，历任高级研发工程师、资深研发工程师、高级技术经理、总监等，在云计算、大规模集群运维自动化、分布式系统构建、大型Lamp系统等架构与设计实现方面经验丰富，对C/C++、PHP、Java、Python、Perl、Ruby等多种语言都有涉猎，学员评价其幽默风趣，平易近人，教学贴近实战，干货多多
        </p>
        <ul class="timeline">
          <li>
            <div class="timeline-badge danger"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">10：30-11：40</h4>
                <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i></small> -->
              </p>
            </div>
            <div class="timeline-body">
            <p>
              <strong>
                
            十万级服务器控制系统开发的架构和心得
              </strong>
            </p>
            <p>
              分享从百度、360经历的 十万级服务器控制系统开发的架构和心得。
            </p>
            <ul style='margin-left: 20px'>
              <li>1.高并发Client端编程</li>
              <li>2.网络编程调优心得，异步DNS的应用</li>
              <li>3.十万级实时推送服务的实现介绍</li>
            </ul>


            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">11：40-12：00</h4>
            </div>
            <div class="timeline-body">
              <p> 自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">12：00-13：10</h4>
            </div>
            <div class="timeline-body">
              <p>
              <strong>
                
              运维工程师职业发展
              </strong>
              </p>
              <p>通过分析当前运维与互联网技术发展形势介绍，结合演讲者多年亲自带团队和指导工程师的经验，给出一个运维工程师的技术发展路线图。</p>
              <ul style='margin-left: 20px'>
                <li>1.当前运维发展形势介绍</li>
                <li>2.运维工程师的技术与职业发展路线图</li>
                <li>3.螺旋上升式学习方法介绍</li>
                <li>4.转型运维开发的知识点介绍</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">13：10-13：30</h4>
            </div>
            <div class="timeline-body">
              <p>自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="panel panel-default" style='margin-top: 20px;'>
      <div class="panel-heading">
        12.06周日两场（截止报名时间12.04日17：00）（已结束）
      </div>
      <div class="panel-body">
        <p class="text-success">
          嘉宾：
        </p>
        <p>
          
          1、
          <strong>
            
          Rock
          </strong>
          ：前赶集资深运维开发工程师，参与了自动化基础以及运维平台的建设（包括发布系统，集中计划任务管理系统等），现在知名互联网金融公司主导运维自动化平台建设。
        </p>
        <p>
          
          2、
          <strong>
            
          蜗牛
          </strong>
          :非典型程序员，毕业之后接触了编程，从零基础成长至BAT高级工程师，为 部门从零组建开发团队，带领完成多个大、中型项目，项目开发经验丰富并且深 悉初学者学编程的方法，为人热情，乐于分析
        </p>
        <ul class="timeline">
          <li>
            <div class="timeline-badge danger"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">10：30-11：40</h4>
                <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i></small> -->
              </p>
            </div>
            <div class="timeline-body">
            <p>
              
            Zabbix 企业自动化应用
            </p>
            <ul style='margin-left: 20px'>
              <li>1.Zabbix API介绍以及APi框架分析</li>
              <li>2.zabbix APi实现CMDB的信息自动采集</li>
              <li>3.大规模Zabbix 自动化之批量模板管理</li>
              <li>4.Zabbix 开发在与运维平台中的角色</li>
            </ul>


            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">11：40-12：00</h4>
            </div>
            <div class="timeline-body">
              <p> 自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">12：00-13：10</h4>
            </div>
            <div class="timeline-body">
              <p>日志分析与运维可视化</p>
              <ul style='margin-left: 20px'>
                <li>1.access日志按照什么维度展示数据</li>
                <li>2.和web结合，更好的体验，只需记住URL</li>
                <li>3.分页排序和搜索，表格展示体验的提升</li>
                <li>4.一图胜万言，汇总信息更友好的展示</li>
                <li>5.逼格满满，让IP信息在地图上展示</li>
                <li>6.后续展望--机房网络流量可视化，机器、机柜、机房3D展示</li>
                <li>7.代码讲解</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">13：10-13：30</h4>
            </div>
            <div class="timeline-body">
              <p>自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    
  </div>
    <div class="panel panel-default" style='margin-top: 20px;'>
      <div class="panel-heading">
        7.18周六两场（截止报名时间7.16下午5：00）(已结束)
      </div>
      <div class="panel-body">
        <p class="text-success">
          嘉宾：
        </p>
        <p>
          
          1、Xing：狼厂*AE资深工程师
        </p>
        <p>
          
          2、雪糕：资深运维开发架构师
        </p>
        <ul class="timeline">
          <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">10：30-11：40</h4>
                <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i></small> -->
              </p>
            </div>
            <div class="timeline-body">
              <p>Docker 企业实战与剖析</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">11：40-12：00</h4>
            </div>
            <div class="timeline-body">
              <p> 自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="fa fa-bomb"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">12：00-13：10</h4>
            </div>
            <div class="timeline-body">
              <p>上线系统从无到有，怎样去开发一个代码发布系统，biu...</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">13：10-13：30</h4>
            </div>
            <div class="timeline-body">
              <p>自由提问，人人都是讲师</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    
  </div>
  <div class="panel panel-default" style='margin-top: 20px;'>
    <div class="panel-heading">
      7.25周六两场（截止报名时间7.13下午5：00）(已结束)
    </div>
    <div class="panel-body">
      <p class="text-success">
        嘉宾：
      </p>
      <p>
        
        1、Zjwei：狼厂*大数据资深工程师
      </p>
      <p>
        
        2、PC：原数字公司运维开发架构师
      </p>
      <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="fa fa-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">10：30-11：40</h4>
              <!-- <p><small class="text-muted"><i class="fa fa-clock-o"></i></small> -->
            </p>
          </div>
          <div class="timeline-body">
            <p>Hadoop架构剖析，怎么学习Hadoop，有什么好方法？</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-users"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">11：40-12：00</h4>
          </div>
          <div class="timeline-body">
            <p> 自由提问，人人都是讲师</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge"><i class="fa fa-bomb"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">12：00-13：10</h4>
          </div>
          <div class="timeline-body">
            <p> 待定</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-users"></i>
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">13：10-13：30</h4>
          </div>
          <div class="timeline-body">
            <p>自由提问，人人都是讲师</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
    地点
  </div>
  <div class="panel-body">
    <p>
      北京市昌平区回龙观东国风美唐6号楼709室（地铁8号线霍营站E口出如家快捷酒店对面）
    </p>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
    网络直播
  </div>
  <div class="panel-body">
    <!-- <p>暂不提供网络直播，会后会提供视频</p> -->
    <p>
                        
                    网络在线直播
                      </p>
    <p class="text-success">
      注：由于嘉宾会在白板上写东西，直播效果可能没有现场好
    </p>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
    报名方式
  </div>
  <div class="panel-body">
    <p>姓名+手机号+QQ+12.06+现场/网络 发送邮件到 <a href="mailto:ada@51reboot.com"> ada@51reboot.com</a></p>
    <p>
      邮件格式如下：
    </p>
    <pre>
          标题：小王+18600621717+82784423+12.06+现场
          标题：张三+18600621717+82784423+12.06+网络
    </pre>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
    通知方式：
  </div>
  <div class="panel-body">
    <p>邮件+短信方式通知</p>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
    加入讨论
  </div>
  <div class="panel-body">
    <p>Reboot官网交流QQ群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=f03fd72ed353ccfc801d393529aed84e2a663334caba7af88aa2a29620636549"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="Reboot【二】" title="Reboot【二】"></a></p>
  </div>
  
</div>
<div class="panel panel-success" style='margin-top: 20px;'>
  <div class="panel-heading">
  分享本页面，并且分享新浪微博，@<a href="http://www.weibo.com/linuxgossip">互联网一手八卦</a>，现场可参与抽奖送书的活动
    
  </div>
  <div class="panel-body">
    <div class="jiathis_style_32x32">
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_qzone"></a>
      <a class="jiathis_button_tqq"></a>
      <!-- <a class="jiathis_button_weixin"></a> -->
      <a class="jiathis_button_renren"></a>
<!--       <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
 -->    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
  </div>
</div>
<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="share-index" data-title="第十五期技术沙龙" data-url="http://51reboot.com/share/"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"51reboot"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

<script type="text/javascript">
  $(function(){
    $('.panel-default>.panel-body').hide()
    $('.panel-default>.panel-heading').click(function(){
      $(this).next().slideToggle()
    })
    document.title='Reboot技术沙龙'
  })

</script>
</div>
</div>
<link rel="import" href="/__footer.html?__inline">